/* Reference point 

    Color: #363636;
    Header and Footer color:#474747;
    Font-color: #A8A7A7;
    Buttons:#CC527A;
    Buttons:hover :#E8175D;

    Font-family:'Dosis', san-serif; 
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">


*/









/*============== GENERAL=============== */
html,body{
height: 100%; 
margin: 0%;
Font-family:'Dosis', san-serif;  
/*infinity display, lol */
}
/* ===============END OF GENERAL========= */

/*====================================================
                        PARALLAX (Generic)
======================================================*/

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/*   Navigation   */
/* 
nav{

    margin: 2.5%;

}

nav ul{  
display: inline;
position: inherit;


}

nav ul li{

    list-style: none;
    float: right;
    position: relative;
    display: inline;
    padding-left: 1%;

}

    nav ul li a{
        font-family: 'Dosis', san-serif;
        text-decoration: none; 
    } */
/* End ov Navigation...destination,lol */
/* Navigation Bar */
.navbar{
    float: right;
}

/* Home  */
#home-content-title h2{
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: honeydew;
    clear: both;
     font-size: 55px;
     
     margin: 20px 0 20px 0;
}

#home-content-box p{
    text-align: center;
    color: honeydew;
    clear: both;
    vertical-align: middle;
    display: table-cell;
}

#home-box{

    width: 100%;
    height: 100%;
    display: table;

}
#home{
    background-image: url('../img/rene-bohmer-421853-unsplash.jpg');
    height: 100%;
    width: 100%;
    display: table;
    background-position: center; 
    background-size: cover;
    
}

#about-image{
    background-image: url('../img/rene-bohmer-421853-unsplash.jpg');
    float: left;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
}

/* =================END OF HOME================= */
/* I just noticed my id's are arranged like yours but in reverse order
||too tired to change but will use your model from hereon  */

/* ================== ABOUT ===================== */